*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
    color: white;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Cg fill='%23cc1f1f' fill-opacity='0.2'%3E%3Cpath fill-rule='evenodd' d='M5 3.59L1.46.05.05 1.46 3.59 5 .05 8.54l1.41 1.41L5 6.41l3.54 3.54 1.41-1.41L6.41 5l3.54-3.54L8.54.05 5 3.59zM17 2h24v2H17V2zm0 4h24v2H17V6zM2 17h2v24H2V17zm4 0h2v24H6V17z'/%3E%3C/g%3E%3C/svg%3E");
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}
hr {
    margin: 10px 0px;
}
a  {
    color: #fff;
    text-decoration: none;
}
ul {
    list-style: none;
}
.container {
    width: 90%;
    margin: auto;
}
/*NAVIGATION*/
.nav-main {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0px; 
}
.nav-brand {
    width: 50px;
}
/*nav left*/
.nav-main ul {
    display: flex;
}

.nav-main ul li {
    padding: 10px;
}
.nav-main ul li a {
    padding: 2px;
}
.nav-main ul li a:hover {
    border-bottom: 2px solid white;
}
.nav-main ul.nav-menu {
    flex: 1;
    margin-left: 20px
    ;
}
/*SHOWCASE*/
 

.showcase {
    width: 100%;
    height: 550px; 
    background: url("../img/showcase2.jpg") no-repeat center center/cover;
    padding-bottom: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: #fff;
    font-size: 15px;
    border: 1px solid #fff;
    margin: 10px, 0px;
}
.btn:hover {
    opacity: .7;
}
.showcase h2  
.showcase p {
    margin-bottom: 10px;
}
/*NEWSCARDS*/
.news-cards {
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    gap: 25px;
    margin: 10px;

}
.news-cards img {
    width: 100%;
    height: 180px;
}
.news-cards h3 {
    font-size: 20px;
    margin: 10px 0;
}
.news-cards a {
    padding: 10px 0;
    color: f2f2f2;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
}
.news-cards a:hover {
    text-decoration: underline;
}
/*CARDS BANNER ONE*/

.cards-banner-one {
    background: url('tech-red.jpg');
    width: 100%;
    height: 350px;
    
    margin-bottom: 40px;
}
.cards-banner-one .content {
    width: 40%;
padding: 90px 0 0 30px;
color: #fff;
}
.cards-banner-one p,
.cards-banner-one h2 {
    margin: 10px 0 20px 0;
    
}

/*CARDS BANNER TWO*/
.cards-banner-two{
    width: 100%;
    height: 350px;
    background: url('../codigos/image-five.jpg') no-repeat center/cover;
}
.cards-banner-two .content {
    width: 50%;
    padding: 100px 0 0 30px;

}
/*social*/
.social {
    margin: 50px
}
.social {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}
.links {
    display: flex;
    align-items: center;
    justify-content: center;
}
.links a {
    margin: 0 30px;
}
.links a i {
    font-size: 3rem ;
}

/*Footers Links*/
.footer-links {
    background: #2f3640;
    color: #616161;
    font-size: 12px;
    padding: 35px 0;
}
.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}
.footer-container ul {
    margin:0 auto;
}
 .footer-container ul li {
     line-height: 2.8;
 }
 .footer {
     background:#2f3640 ;
     color: #616161;
     font-size: 12px;
     padding: 20px 0;
     text-align: center;
     padding-bottom: 20px;
 }


    
